$white:         #fff;
$tiny-gray:    #d9d9d9;
$light-gray:   #bfbfbf;
$gray:          #e5e5e5;
$light-black:  #404040;


$green:         #53a93f;
$light-green:  #65b045;
$tiny-green:   #9bce7c;
$heavy-green:  #4c8534;
$dark-green:   #3e802f;
$deep-green:   #2f6124;

$blue:          #4285f4;
$blue-link:    #427fed;
$tiny-blue:    #357ae8;
$light-blue:   #4d90fe;
$heavy-blue:   #2f5bb7;
$dark-blue:    inherit;
$deep-blue:    rgba(0,0,0,.15);

$red:           #D73D32;
$light-red:    #e74b37;
$heavy-red:    #BD3D2A;
$dark-red:     #be3e2e;
$deep-red:     #9a3323;

$yellow:       #F4B400;


/*==========================

     Site Settings

=============================*/
$nav-link: $yellow;