/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import 'variables';
//Bootstrap Theme
$font-family-sans-serif: arial,sans-serif;
$text-color: #262626;
$link-color: $blue-link;
$grid-columns: 16;
$grid-gutter-width: 0px;
@import 'bootstrap';

// Academia Custom Styles
@import 'academia.css.scss';

$nprogress-color: lighten($blue-link,30%);
@import 'nprogress';
@import 'nprogress-bootstrap';

body {
	-webkit-font-smoothing: antialiased !important;
	font-family: roboto,arial,sans-serif !important;
  padding-top: 60px;
  background-color: rgb(229, 229, 229);
}
a:hover{ text-decoration: none !important; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/roboto.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/roboto700.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/rotobo300.woff) format('woff');
}
